* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .game-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 9px 19px rgba(0, 0, 0, 0.1);
  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000000;
    padding: 20px;
  }
  
  h1 {
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  #message {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  #guess-input {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 24px);
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(239, 255, 8);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  button:hover {
    background-color: rgb(255, 145, 0);
  }
  
  #restart-button {
    background-color: red;
  }
  
  #restart-button:hover {
    background-color: darkred;
  }
  img {
    width: 25%;
    height: 25%;
    margin-bottom: 100px;
  }